<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}">
    <title>Result</title>
</head>
<body>
    <br><br><center><h1>OUTPUT OF LIST MANIUPLUATION:</h1><center><br>
    <form  class="form">
        <h2>Result</h2><br>
        <div class="input-group">
          <label for="loginUser">{{c}}<br></label>
        </div>
        <div class="input-group">
          <label for="loginPassword">{{e}}<br></label>
        </div>
      </form>
{{r}}<br>
</body>
</html>